* {
  box-sizing: border-box; }

body {
  margin: 0; }

.potions-modal {
  display: none; }

h3, h4, p {
  font-family: "Droid Serif", serif; }

header .upper {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 40px; }
  header .upper .logo {
    width: 240px; }
    header .upper .logo h1 {
      font-size: 36px;
      text-transform: uppercase;
      font-family: "Oswald", sans-serif;
      font-weight: 300;
      color: #d73a1e;
      margin: 0; }
      header .upper .logo h1 strong {
        font-weight: 400; }
    header .upper .logo .subtitle {
      width: 100%;
      height: 10px;
      border-bottom: 1px solid black;
      text-align: center; }
      header .upper .logo .subtitle span {
        font-size: 12px;
        padding: 0 5px;
        background: #fff;
        font-family: "Droid Serif", serif;
        font-weight: 400;
        font-style: italic;
        color: #523468; }
  header .upper .search-field {
    border: 1px solid #523468;
    border-radius: 5px;
    width: 280px;
    height: 40px;
    display: inline-flex; }
    header .upper .search-field .search-icon {
      border: none;
      background: none; }
    header .upper .search-field .search {
      border: none;
      padding: 0; }
  header .upper ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #b3b3b3;
    font-size: 12px; }
  header .upper :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #b3b3b3;
    font-size: 12px;
    opacity: 1; }
  header .upper ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #b3b3b3;
    font-size: 12px;
    opacity: 1; }
  header .upper :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b3b3b3;
    font-size: 12px; }
  header .upper .free-shipping {
    color: #d73a1e; }
    header .upper .free-shipping h4, header .upper .free-shipping p {
      margin: 0;
      font-style: italic; }
  header .upper img.bag-icon {
    width: 37px;
    height: 43px; }
  header .upper .bag {
    display: inline-flex; }
    header .upper .bag h3 {
      color: #b3b3b3;
      font-family: "Oswald", sans-serif;
      font-weight: 300;
      text-transform: uppercase; }
header nav {
  background: #523468;
  padding: 30px 0 30px 70px; }
  header nav a {
    font-family: "Droid Serif", serif;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin-right: 30px; }

footer {
  background: #e6e6e6; }
