$droid: 'Droid Serif', serif;
$oswald: 'Oswald', sans-serif;
$myred: #d73a1e;
$mypurple: #523468;
$my-grey: #b3b3b3;

* {
  box-sizing: border-box;
}

body {
	margin: 0; 
}

.potions-modal {
	display: none;
}

.col {
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

h3, h4, p {
	font-family: $droid;
}

.container {
	max-width: 950px;
	margin-right: auto;
	margin-left: auto;
}

header {
	padding-top: 2em;
	padding-bottom: 2em;
	.upper {
		margin-bottom: 40px;
		.left {
			width: 69%;
				.logo {
					width: 280px;
					display: inline-block;
					h1 {
						font-size: 43px;
						text-transform: uppercase;
						font-family: $oswald;
						font-weight: 300;
						color: $myred;
						margin: 0;
						strong {
							font-weight: 400;
						}
					}
					.subtitle {
						height: 10px; 
						border-bottom: 1px solid black; 
						text-align: center;
						span {
							font-size: 12px; 
							padding: 0 5px;
							background: #fff;
							font-family: $droid;
							font-weight: 400;
							font-style: italic;
							color: $mypurple;
						}
					}
				}
				.search-field {
					display: inline-block;
					width: 280px;
					height: 40px;
					border: 1px solid $mypurple;
					border-radius: 5px;
					margin-left: 65px;
					.search-icon {
					    border: none;
					    background: none;
					    margin-top: 5px;
					}

					.search {
						border: none;
					    padding: 0;
					}
					input {
						vertical-align: top;
						height: 36px;
					}
					::-webkit-input-placeholder { /* WebKit, Blink, Edge */
					    color:    $my-grey;
					    font-size: 12px;
					}
					:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					   color:    $my-grey;
				       font-size: 12px;
					   opacity:  1;
					}
					::-moz-placeholder { /* Mozilla Firefox 19+ */
					   color:    $my-grey;
				       font-size: 12px;
					   opacity:  1;
					}
					:-ms-input-placeholder { /* Internet Explorer 10-11 */
					   color:    $my-grey;
				       font-size: 12px;
					}
				}
		}
		.right {
			width: 30%;
			text-align: right;
			.free-shipping {
				color: $myred;
				display: inline-block;
				h4, p {
					margin: 0;
					font-style: italic;
				}
			}
			.bag-icon {
				display: inline-block;
				margin-left: 30px;
				margin-right: 30px;
			}
			.bag {
				display: inline-block;
				h3 {
					color: $my-grey;
					font-family: $oswald;
					font-weight: 300;
					text-transform: uppercase;
					strong {
						font-weight: 700;
						color: $myred;
					}
				}
			}
		}
	}
	nav {
		background: $mypurple;
		padding: 30px 0 30px 70px;
		a {
			font-family: $droid;
			font-weight: 400;
			color: #fff;
			text-decoration: none;	
			margin-right: 30px;
		}
		
	}
}

section {
	.potions {
		#potions {
			.potions-thumb{
				width: 33.33%;
				display: inline-block;
				text-align: center;
				margin-bottom: 100px;
				p {
					strong.price {
						color: $myred;
					}
				}
			}
			.potions-modal {
				display: none;
				.potions-photo {
					display: inline-block;
					img {
						width: 400px;
					}
				}
				.potions-infos {
					display: inline-block;
					vertical-align: top;
					h2:nth-child(4){ //price title
						margin-bottom: 0;
					}
					h2.price {
						margin-top: 0;
						color: $myred;
					}
				}
			}
		} 
	}
}

footer {
	background: #e6e6e6;
	padding: 30px 0;
	height: 275px;
	.footer {
		
		.footer-left {
			width: 49%;
			nav {
				a {
					font-family: $oswald;
					font-weight: 300;
					font-size: 15px;
					text-transform: uppercase;
					text-decoration: none;
					color: $myred;
					margin-right: 30px;
				}
			}
			p {
				font-family: $oswald;
				font-weight: 300;
			}
		}
		.news-letter {
			background: #fff;
			border-radius: 5px;
			padding: 30px;
			display: inline-block;
			float: right;
			h4 {
				margin-top: 0;
				font-style: italic;
				color: $mypurple;
			}
			p {
				font-family: $oswald;
				font-weight: 300;
				color: $mypurple;
			}
			input {
				width: 280px;
				height: 40px;
				border: 1px solid $mypurple;
				border-radius: 5px;
				padding-left: 10px;
			}
			button {
				width: 115px;
				height: 40px;
				color: #fff;
				border: none;
				background: $myred;
				border-radius: 5px;
				text-transform: uppercase;
				font-size: 15px;
			}
			::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			    color:    $my-grey;
			    font-size: 15px;
			}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			   color:    $my-grey;
		       font-size: 15px;
			   opacity:  1;
			}
			::-moz-placeholder { /* Mozilla Firefox 19+ */
			   color:    $my-grey;
		       font-size: 15px;
			   opacity:  1;
			}
			:-ms-input-placeholder { /* Internet Explorer 10-11 */
			   color:    $my-grey;
		       font-size: 15px;
			}
		}
	}
}